@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

/* Main font weights are 400 (normal), 500 (medium), 600 (semi-bold), 700 (bold) */
@font-main: 'Raleway', sans-serif;

body, label, .checkbox label {
    font-family: @font-main;
	font-weight: 400;
}

/* Colors */
@bg_page: rgba(225,222,222,1);

@darkgrey: rgba(37,33,34,1);
@mediumgrey: rgba(135,135,135,1);
@lightgrey: rgba(236,234,231,1);

@aqua: rgba(88,167,226,1);
@gold: rgba(220,179,53,1);
@white: rgba(255,255,255,1);

body {
    background-color: @bg_page;
}
a {
    color: @aqua;
}
a:hover {
    color: @gold;
}
header {
    background-color: @darkgrey;
    color: @white;
    height: 108px;
    .klerede-logo {
        height: 108px;
        text-align: right;
        img {
            position: relative;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .user-info {
        height: 108px;
        text-align: right;
        .client-name {
            border-right: 1px solid @lightgrey;
            color: @lightgrey;
            display: inline-block;
            font-size: 30px;
            font-weight: 600;
            margin-right: 28px;
            padding: 9px 28px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .user-image {
            background-color: @gold;
            background-image: url('/img/user-no-image.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 20px;
            display: inline-block;
            height: 40px;
            margin-right: 14px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
        }
        .utilities-wrapper {
            display: inline-block;
            position: relative;
            top: 46%;
            text-align: left;
            transform: translateY(-50%);
            .user-name {
                color: @gold;
            }
            .utilities {
                display: inline-block;
                list-style: none;
                font-size: 12px;
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    margin-right: 14px;
                    a {
                        color: @white;
                        text-decoration: none;
                    }
                    a:hover {
                        color: @gold;
                    }
                }
            }
        }
        
    }

}
.menu {
    background-color: @darkgrey;
    height: ~"calc(100vh - 108px)";   /* ~"..." added to prevent LESS from breaking calc() during compilation */
    padding: 0;
    text-align: right;
    ul {
        display: inline-block;
        list-style: none;
        margin-top: 51px;
        padding: 0;
        li {
            font-size: 18px;
            font-weight: 600;
            padding: 22px 37px 22px 0;
            text-align: left;
            position: relative;
            a {
                color: @mediumgrey;
                cursor: pointer;
            }
            a:hover {
                color: @gold;
                text-decoration: none;
            }
        }
        li.active:after {
            bottom: 18px;
            right: 0;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(21, 45, 65, 0);
            border-right-color: @bg_page;
            border-width: 16px;
        }
    }
}
.main-content {
    padding: 20px;
}
.welcome-text {
    font-size: 20px;
    font-weight: 600;
    .user-name {
        color: @gold;
    }
}
h1 {
    font-family: 'Raleway', sans-serif;
}
footer {
    text-align: right;
}
