@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
    font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

/* Colors */
@darkgrey: rgba(37,33,34,1);
@mediumgrey: rgba(135,135,135,1);
@lightgrey: rgba(236,234,231,1);

header {
    background-color: @darkgrey;
    height: 108px;
    div {
        height: 108px;
        text-align: right;
    }
}

.logo-main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo-client {
    border-right: 1px solid @lightgrey;
    float: right;
    padding: 19px 28px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu {
    background-color: @darkgrey;
    color: @mediumgrey;
    height: ~"calc(100vh - 108px)";   /* ~"..." added to prevent LESS from breaking calc() during compilation */
    ul {
        list-style: none;
        padding: 0;
        li {
            text-align: right;
        }
    }
}

h1 {
    font-family: 'Raleway', sans-serif;
}
