/* Colors */
$darkgrey: rgba(37,33,34,1);
$mediumgrey: rgba(135,135,135,1);
$lightgrey: rgba(236,234,231,1);

header {
    background-color: $darkgrey;
    height: 108px;
}

.logo-main {
    margin-left: 170px;
    margin-top: 34px;
}

.logo-client {
    border-right: 1px solid $lightgrey;
    float: right;
    margin-top: 41px;
}

.menu {
    background-color: $darkgrey;
    color: $mediumgrey;
    height: calc(100vh - 108px);
    ul {
        list-style: none;
        padding: 0;
    }
}
.test{}