/* Colors */
$darkgrey: rgba(37,33,34,1);

header {
    background-color: $darkgrey;
    height: 108px;
}

.logo-main {
    margin-left: 170px;
    margin-top: 34px;
}

.logo-client {
    float: right;
    margin-top: 41px;
}